.place-order {
  display: flex;

  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}
.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}
.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}
.place-order-left .multi-fileds {
  display: flex;
  gap: 10px;
}
.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}
.place-order .cart-total-buttom {
  margin-top: 30px;
}
/* styles.css */

.rolling-icon {
  width: 2rem; /* Tailwind w-8 = 2rem */
  height: 2rem; /* Tailwind h-8 = 2rem */
  color: #3b82f6; /* Tailwind text-blue-500 */
  animation: roll 2s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .place-order {
    display: flex;
    flex-direction: column;
  }
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
}
