.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: max(10%, 80px);
  color: tomato;
}

.navbar .profile {
  width: 40px;
}
.logo p {
  width: 100%;
}
